<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>About</title>
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-gr">
                    <a href="" class="btn">
                        <span class="text">
                            Tải tài liệu
                        </span>
                        <span class="icon">
                            <i class="fa-light fa-down-to-bracket"></i>
                        </span>
                    </a>
                    <div class="header-user">
                        <a href="" class="header-user-link">
                            <span class="icon">
                                <i class="fa-light fa-user"></i>
                            </span>
                            <span class="t-link">
                                Đăng nhập/Đăng ký
                            </span>
                        </a>
                    </div>
                    <div class="header-lang">
                        <div class="header-lang-gr">
                            <span class="icon-flag">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </span>
                            <span class="text">
                                VN
                            </span>
                            <span class="icon">
                                <img src="./assets/images/arrow_down.svg" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-burger">
                        <div class="hamburger" id="hamburger">
                            <label for="menu_checkbox" class="hamburger-label">
                                <div class="hamburger-text"></div>
                            </label>
                        </div>
                    </div>
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo-second.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <div class="menu-nav">
                            <!-- Cấu trúc html menu -->
                            <ul class="menu-list">
                                <li class="menu-item current-menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        Sản phẩm
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Công nghệ
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Dự án
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tin tức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Phân phối
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-lang">
                        <span class="text">Ngôn ngữ</span>
                        <div class="mobile-lang-list">
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-nav">
                        <div class="menu-nav menu-have-icon">
                            <ul id="menu-menu-header-main-mobile" class="menu-list">
                                <li class="menu-item parent fz16 fw6 current-menu-item">
                                    <a class="menu-link" href="">Trang chủ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6 dropdown">
                                    <a class="menu-link" href="">Giới thiệu</a>
                                    <ul class="menu-list">
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 1 </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 2
                                            </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Sản phẩm</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Công nghệ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Dự án</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Tin tức</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Phân phối</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-if">
                        <div class="mobile-if-list">
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (1).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Địa chỉ: </span>Số 1350/1 Quốc Lộ 1A, phường Thới An, quận
                                        12, Tp. Hồ Chí Minh
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (3).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Số điện thoại: </span>0946 806 159
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (2).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Email:</span>info@maxproalu.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (1).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (2).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (3).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (4).svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main page-about">
        <section class="sec-re-banner">
            <div class="re-banner">
                <div class="re-banner-img">
                    <img src="./assets/img/banner-about.jpg" alt="">
                </div>
                <div class="re-banner-wrapper">
                    <div class="re-banner-content">
                        <div class="breadcrumb">
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-item" data-aos="fade-right">
                                    <a href="" class="breadcrumb-link">
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="breadcrumb-item" data-aos="fade-right">
                                    <a href="" class="breadcrumb-link">
                                        Về Maxpro.JP
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h1 class="re-banner-title txt-over">
                            <span data-aos="fade-right">Về Maxpro.JP</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-abr">
            <div class="abr ss-pd">
                <div class="container">
                    <div class="abr-side row">
                        <div class="abr-left col">
                            <div class="abr-content">
                                <h2 class="t-title" data-aos="fade-up">
                                    Thương hiệu nhôm cao cấp
                                </h2>
                                <p class="des" data-aos="fade-up">
                                    MAXPRO.JP là thương hiệu thanh nhôm định hình cao cấp, sử dụng công nghệ Anodize ED
                                    tiên tiến nhất để sản xuất nhôm dạng
                                    profile chất lượng cao. Sản phẩm đạt tiêu chuẩn chất lượng cao và được ưa chuộng
                                    trên thị trường xây dựng và kiến trúc
                                    hiện đại.
                                </p>
                                <div class="abr-tech" data-aos="fade-up">
                                    <span class="c-pri">
                                        Công nghệ <br> Anodize ED
                                    </span>
                                    <br>
                                    độ bền lên đến
                                    <span class="number">
                                        40+
                                    </span>
                                    năm
                                </div>
                            </div>
                        </div>
                        <div class="abr-right col">
                            <div class="abr-slider">
                                <div class="swiper-container">
                                    <div class="swiper row">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide col">
                                                <div class="abr-wrap">
                                                    <div class="abr-slide-img">
                                                        <img src="./assets/img/abr-img-1.jpg" alt="">
                                                    </div>
                                                    <a href="https://www.youtube.com/watch?v=x7FNCuGsPZg&t=31s"
                                                        class="btn-watch" data-fancybox>
                                                        <span class="icon">
                                                            <img src="./assets/img/icon-play.svg" alt="">
                                                        </span>
                                                        <span class="text">
                                                            Xem video
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide col">
                                                <div class="abr-wrap">
                                                    <div class="abr-slide-img">
                                                        <img src="./assets/img/abr-img-1.jpg" alt="">
                                                    </div>
                                                    <a href="https://www.youtube.com/watch?v=x7FNCuGsPZg&t=31s"
                                                        class="btn-watch" data-fancybox>
                                                        <span class="icon">
                                                            <img src="./assets/img/icon-play.svg" alt="">
                                                        </span>
                                                        <span class="text">
                                                            Xem video
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide col">
                                                <div class="abr-wrap">
                                                    <div class="abr-slide-img">
                                                        <img src="./assets/img/abr-img-1.jpg" alt="">
                                                    </div>
                                                    <a href="https://www.youtube.com/watch?v=x7FNCuGsPZg&t=31s"
                                                        class="btn-watch" data-fancybox>
                                                        <span class="icon">
                                                            <img src="./assets/img/icon-play.svg" alt="">
                                                        </span>
                                                        <span class="text">
                                                            Xem video
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="abrs ss-mg-t">
                        <div class="abrs-side row">
                            <div class="abrs-left col">
                                <div class="abrs-img load-img-third">
                                    <img src="./assets/img/abrs-img.jpg" alt="">
                                </div>
                            </div>
                            <div class="abrs-right col">
                                <div class="abrs-top">
                                    <div class="abrs-logo">
                                        <img src="./assets/images/logo-second.png" alt="">
                                    </div>
                                    <p class="des">
                                        MAXPRO.JP là thương hiệu thanh nhôm định hình cao cấp, áp dụng công nghệ Anodize
                                        ED tiên tiến, đạt tiêu chuẩn công
                                        nghiệp Nhật Bản JIS.
                                    </p>
                                </div>
                                <div class="abrs-list collapse-block">
                                    <div class="abrs-item collapse-item">
                                        <div class="abrs-head collapse-head">
                                            <span class="text">
                                                Thiết kế
                                            </span>
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                        <div class="abrs-body collapse-body">
                                            <p>
                                                Thanh nhôm có thiết kế thông minh với đa dạng các hệ sản phẩm. Thiết kế
                                                cho phép ứng dụng đồng bộ cho nhiều hệ cửa, mang
                                                lại hiệu năng cao. Đội ngũ kỹ sư MAXPRO.JP không ngừng nghiên cứu để
                                                mang các xu hướng giải pháp kỹ thuật thiết kế châu
                                                Âu vào ứng dụng thực tế, đáp ứng điều kiện đặc trưng của thị trường quốc
                                                nội.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="abrs-item collapse-item">
                                        <div class="abrs-head collapse-head">
                                            <span class="text">
                                                Công nghệ
                                            </span>
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                        <div class="abrs-body collapse-body">
                                            <p>
                                                Thanh nhôm có thiết kế thông minh với đa dạng các hệ sản phẩm. Thiết kế
                                                cho phép ứng dụng đồng bộ cho nhiều hệ cửa, mang
                                                lại hiệu năng cao. Đội ngũ kỹ sư MAXPRO.JP không ngừng nghiên cứu để
                                                mang các xu hướng giải pháp kỹ thuật thiết kế châu
                                                Âu vào ứng dụng thực tế, đáp ứng điều kiện đặc trưng của thị trường quốc
                                                nội.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="abrs-item collapse-item">
                                        <div class="abrs-head collapse-head">
                                            <span class="text">
                                                Chất lượng
                                            </span>
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                        <div class="abrs-body collapse-body">
                                            <p>
                                                Thanh nhôm có thiết kế thông minh với đa dạng các hệ sản phẩm. Thiết kế
                                                cho phép ứng dụng đồng bộ cho nhiều hệ cửa, mang
                                                lại hiệu năng cao. Đội ngũ kỹ sư MAXPRO.JP không ngừng nghiên cứu để
                                                mang các xu hướng giải pháp kỹ thuật thiết kế châu
                                                Âu vào ứng dụng thực tế, đáp ứng điều kiện đặc trưng của thị trường quốc
                                                nội.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-certi">
            <div class="certi ss-pd-b">
                <div class="container">
                    <div class="head t-center">
                        <h2 class="t-title">
                            Chất lượng sản phẩm
                        </h2>
                        <p class="des">
                            Chúng tôi khẳng định chất lượng sản phẩm qua những tiêu chuẩn, chứng nhận quốc tế và báo cáo
                            thử
                            nghiệm được kiểm định
                            nghiêm ngặt
                        </p>
                    </div>
                    <div class="certi-slider gallery slider">
                        <div class="swiper-container">
                            <div class="swiper row">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide col col-3">
                                        <div class="certi-wrap">
                                            <div class="certi-img">
                                                <div class="certi-img-wrap">
                                                    <a href="" class="inner">
                                                        <img src="./assets/img/certi-img-1.jpg" alt="">
                                                    </a>
                                                    <div class="certi-control">
                                                        <div class="certi-control-item gItem"
                                                            data-src="./assets/img/certi-img-1.jpg">
                                                            <img src="./assets/img/certi-img-1.jpg" alt="">
                                                            <img src="./assets/img/certi-icon-1.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-2.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-3.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="certi-content">
                                                <h3 class="certi-name">
                                                    <a href="">
                                                        Tiêu chuẩn JIS H 4100
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide col col-3">
                                        <div class="certi-wrap">
                                            <div class="certi-img">
                                                <div class="certi-img-wrap">
                                                    <a href="" class="inner">
                                                        <img src="./assets/img/certi-img-2.jpg" alt="">
                                                    </a>
                                                    <div class="certi-control">
                                                        <div class="certi-control-item gItem"
                                                            data-src="./assets/img/certi-img-2.jpg">
                                                            <img src="./assets/img/certi-img-2.jpg" alt="">
                                                            <img src="./assets/img/certi-icon-1.svg" alt="">

                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-2.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-3.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="certi-content">
                                                <h3 class="certi-name">
                                                    <a href="">
                                                        Tiêu chuẩn JIS H 8602
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide col col-3">
                                        <div class="certi-wrap">
                                            <div class="certi-img">
                                                <div class="certi-img-wrap">
                                                    <a href="" class="inner">
                                                        <img src="./assets/img/certi-img-3.jpg" alt="">
                                                    </a>
                                                    <div class="certi-control">
                                                        <div class="certi-control-item gItem"
                                                            data-src="./assets/img/certi-img-3.jpg">
                                                            <img src="./assets/img/certi-img-2.jpg" alt="">
                                                            <img src="./assets/img/certi-icon-1.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-2.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-3.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="certi-content">
                                                <h3 class="certi-name">
                                                    <a href="">
                                                        Chứng nhận ISO 9001:2015
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide col col-3">
                                        <div class="certi-wrap">
                                            <div class="certi-img">
                                                <div class="certi-img-wrap">
                                                    <a href="" class="inner">
                                                        <img src="./assets/img/certi-img-4.jpg" alt="">
                                                    </a>
                                                    <div class="certi-control">
                                                        <div class="certi-control-item gItem"
                                                            data-src="./assets/img/certi-img-4.jpg">
                                                            <img src="./assets/img/certi-img-4.jpg" alt="">
                                                            <img src="./assets/img/certi-icon-1.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-2.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-3.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="certi-content">
                                                <h3 class="certi-name">
                                                    <a href="">
                                                        Chứng nhận QCVN 16:2017
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide col col-3">
                                        <div class="certi-wrap">
                                            <div class="certi-img">
                                                <div class="certi-img-wrap">
                                                    <a href="" class="inner">
                                                        <img src="./assets/img/certi-img-4.jpg" alt="">
                                                    </a>
                                                    <div class="certi-control">
                                                        <div class="certi-control-item gItem"
                                                            data-src="./assets/img/certi-img-4.jpg">
                                                            <img src="./assets/img/certi-img-4.jpg" alt="">
                                                            <img src="./assets/img/certi-icon-1.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-2.svg" alt="">
                                                        </div>
                                                        <div class="certi-control-item">
                                                            <img src="./assets/img/certi-icon-3.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="certi-content">
                                                <h3 class="certi-name">
                                                    <a href="">
                                                        Chứng nhận QCVN 16:2017
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-control posi minus mobile-plus">
                            <div class="swiper-control-btn swiper-prev">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="swiper-control-btn swiper-next">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-handles">
            <div class="handles">
                <div class="handles-side row">
                    <div class="handles-left col">
                        <div class="handles-img">
                            <div class="inner">
                                <img src="./assets/img/handles-img-1.jpg" alt="">
                            </div>
                            <div class="handles-wrapper">
                                <div class="handles-content">
                                    <h2 class="t-title">
                                        Triết lý kinh doanh
                                    </h2>
                                    <p class="des">
                                        Lấy ”khách hàng làm trọng tâm”, mang đến trải nghiệm toàn diện từ vẻ đẹp ngoại
                                        quan của công trình cho đến tiện ích công
                                        năng. Không ngừng đổi mới, sáng tạo, ứng dụng các kỹ thuật tiên tiến để tạo ra
                                        các sản phẩm chất lượng và cam kết đồng
                                        hành cùng khách hàng trong hành trình kiến tạo các giá trị sống thiết thực và
                                        đẳng cấp.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="handles-right col">
                        <div class="handles-right-img">
                            <div class="inner">
                                <img src="./assets/img/handles-img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="handles-right-content">
                            <div class="handles-logo">
                                <img src="./assets/images/logo-second.png" alt="">
                            </div>
                            <h3 class="handles-name">
                                Lấy
                                <span class="c-pri">khách hàng</span>
                            </h3>
                            <h3 class="handles-name">
                                Làm
                                <span class="c-pri">trọng tâm</span>
                            </h3>
                            <div class="handles-right-quote">
                                <img src="./assets/img/handles-right-quote.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-vm">
            <div class="vm ss-pd">
                <div class="container">
                    <div class="vm-wrapper">
                        <div class="vm-row row">
                            <div class="vm-col col">
                                <div class="vm-img">
                                    <img src="./assets/img/handles-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="vm-col col">
                                <div class="vm-content">
                                    <h3 class="vm-name t-title">
                                        Sứ mệnh
                                    </h3>
                                    <p class="des">
                                        Chúng tôi tận tâm cung cấp sản phẩm nhôm chất lượng cao, đáp ứng nhu cầu của
                                        khách
                                        hàng với giá cả phải chăng và dịch vụ
                                        hậu mãi tuyệt vời. Chúng tôi cam kết duy trì chất lượng sản phẩm và sự hài lòng
                                        của
                                        khách hàng là ưu tiên hàng đầu của
                                        chúng tôi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vm-row row">
                            <div class="vm-col col">
                                <div class="vm-img">
                                    <img src="./assets/img/handles-img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="vm-col col">
                                <div class="vm-content">
                                    <h3 class="vm-name t-title">
                                        Tầm nhìn
                                    </h3>
                                    <p class="des">
                                        MAXPRO.JP – JaPan Aluminium muốn trở thành thương hiệu nhôm hàng đầu tại Việt
                                        Nam và Đông Nam Á, nơi mà chất lượng sản
                                        phẩm luôn được đảm bảo, dịch vụ khách hàng tuyệt vời và giá cả cạnh tranh. Chúng
                                        tôi mong muốn mở rộng thị trường của
                                        mình và trở thành nhà cung cấp nhôm tin cậy cho khách hàng trong khu vực và trên
                                        toàn thế giới.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-val">
            <div class="val">
                <div class="container">
                    <div class="head t-center">
                        <h2 class="t-title">
                            Giá trị cốt lõi
                        </h2>
                        <p class="des">
                            MAXPRO.JP, một thương hiệu nhôm Nhật Bản, nổi tiếng với giá trị cốt lõi về chất lượng sản
                            phẩm đạt tiêu chuẩn cao và
                            liên tục đổi mới công nghệ sản xuất.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-py">
            <div class="container">
                <div class="footer-wrap">
                    <div class="footer-row row">
                        <div class="col col-3">
                            <div class="footer-info">
                                <div class="footer-logo">
                                    <a href="" class="custom-logo-link">
                                        <img src="./assets/images/logo-ft.png" alt="">
                                    </a>
                                    <p class="fw-6 c-white">
                                        Công ty TNHH XNK Trung Chính
                                    </p>
                                </div>
                                <div class="footer-info-list">
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (1).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (2).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (3).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (4).png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8">
                            <div class="footer-block">
                                <div class="footer-ctn">
                                    <div class="footer-sc">
                                        <div class="footer-sc-list">
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (3).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Hotline
                                                    </p>
                                                    <a href="" class="t-link">
                                                        0946 806 159
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (2).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Email
                                                    </p>
                                                    <a href="" class="t-link">
                                                        info@maxproalu.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (1).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Địa chỉ
                                                    </p>
                                                    <a href="" class="t-link">
                                                        Số 1350/1 Quốc Lộ 1A, phường Thới An, quận 12, Tp. Hồ Chí Minh
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-ctrs">
                                        <div class="footer-ctr">
                                            <div class="footer-nav">
                                                <p class="mb-20 c-white t16 fw-6">
                                                    Sản phẩm
                                                </p>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở quay</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa xếp trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt dựng</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Lan can</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">WE70</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer-sp">
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Công nghệ
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Dây chuyền sản xuất</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Công nghệ xử lý bề mặt Anodize
                                                                ED -
                                                                Texguard </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Hỗ trợ khách hàng
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách bảo hành</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách đổi trả</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Bảo mật & riêng tư</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="footer-sign">
            <span class="t14 fw-6">
                Thiết kế bởi
            </span>
            <span class="icon">
                <img src="./assets/images/mona-sign.svg" alt="">
            </span>
        </a>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>