<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Tài liệu</title>
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-gr">
                    <a href="" class="btn">
                        <span class="text">
                            Tải tài liệu
                        </span>
                        <span class="icon">
                            <i class="fa-light fa-down-to-bracket"></i>
                        </span>
                    </a>
                    <div class="header-user">
                        <a href="" class="header-user-link">
                            <span class="icon">
                                <i class="fa-light fa-user"></i>
                            </span>
                            <span class="t-link">
                                Đăng nhập/Đăng ký
                            </span>
                        </a>
                    </div>
                    <div class="header-lang">
                        <div class="header-lang-gr">
                            <span class="icon-flag">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </span>
                            <span class="text">
                                VN
                            </span>
                            <span class="icon">
                                <img src="./assets/images/arrow_down.svg" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-burger">
                        <div class="hamburger" id="hamburger">
                            <label for="menu_checkbox" class="hamburger-label">
                                <div class="hamburger-text"></div>
                            </label>
                        </div>
                    </div>
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo-second.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <div class="menu-nav">
                            <!-- Cấu trúc html menu -->
                            <ul class="menu-list">
                                <li class="menu-item current-menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        Sản phẩm
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Công nghệ
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Dự án
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tin tức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Phân phối
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-lang">
                        <span class="text">Ngôn ngữ</span>
                        <div class="mobile-lang-list">
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-nav">
                        <div class="menu-nav menu-have-icon">
                            <ul id="menu-menu-header-main-mobile" class="menu-list">
                                <li class="menu-item parent fz16 fw6 current-menu-item">
                                    <a class="menu-link" href="">Trang chủ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6 dropdown">
                                    <a class="menu-link" href="">Giới thiệu</a>
                                    <ul class="menu-list">
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 1 </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 2
                                            </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Sản phẩm</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Công nghệ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Dự án</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Tin tức</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Phân phối</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-if">
                        <div class="mobile-if-list">
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (1).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Địa chỉ: </span>Số 1350/1 Quốc Lộ 1A, phường Thới An, quận
                                        12, Tp. Hồ Chí Minh
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (3).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Số điện thoại: </span>0946 806 159
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (2).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Email:</span>info@maxproalu.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (1).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (2).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (3).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (4).svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="news-all ss-pd">
            <div class="container">
                <div class="head t-center">
                    <h2 class="t-title">
                        Tài liệu
                    </h2>
                </div>
                <div class="news-all-wr">
                    <div class="news-all-ft">
                        <div class="news-all-ctrl">
                            <a href="" class="news-all-btn">
                                Tất cả
                            </a>
                            <a href="" class="news-all-btn">
                                Tin tức Maxpro.JP
                            </a>
                            <a href="" class="news-all-btn">
                                Chia sẻ thông tin
                            </a>
                        </div>
                        <div class="news-all-sl">
                            <p class="txt">Sắp xếp theo:</p>
                            <div class="select">
                                <select name="" id="" class="re-select-main" data-placeholder="Chọn...">
                                    <option value="">Chọn...</option>
                                    <option value="1">Mới nhất</option>
                                    <option value="2">Cũ nhất</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="news-all-list row gap-rp">
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="news-item col col-4">
                            <div class="inner">
                                <div class="img">
                                    <a href="" class="img-inner">
                                        <img src="./assets/images/hImage/ns9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>
                                        <a href="" class="info-tt">
                                            Vách kính văn phòng cho không gian làm việc chuyên nghiệp
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="page-numbers">
                        <li>
                            <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>
                            <span class="page-numbers current">1</span>
                        </li>
                        <li>
                            <a href="" class="page-numbers">2</a>
                        </li>
                        <li>
                            <a href="" class="page-numbers">3</a>
                        </li>
                        <li>
                            <span class="page-numbers dot">...</span>
                        </li>
                        <li>
                            <a href="" class="page-numbers">10</a>
                        </li>
                        <li>
                            <a href="" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-py">
            <div class="container">
                <div class="footer-wrap">
                    <div class="footer-row row">
                        <div class="col col-3">
                            <div class="footer-info">
                                <div class="footer-logo">
                                    <a href="" class="custom-logo-link">
                                        <img src="./assets/images/logo-ft.png" alt="">
                                    </a>
                                    <p class="fw-6 c-white">
                                        Công ty TNHH XNK Trung Chính
                                    </p>
                                </div>
                                <div class="footer-info-list">
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (1).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (2).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (3).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (4).png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8">
                            <div class="footer-block">
                                <div class="footer-ctn">
                                    <div class="footer-sc">
                                        <div class="footer-sc-list">
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (3).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Hotline
                                                    </p>
                                                    <a href="" class="t-link">
                                                        0946 806 159
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (2).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Email
                                                    </p>
                                                    <a href="" class="t-link">
                                                        info@maxproalu.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (1).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Địa chỉ
                                                    </p>
                                                    <a href="" class="t-link">
                                                        Số 1350/1 Quốc Lộ 1A, phường Thới An, quận 12, Tp. Hồ Chí Minh
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-ctrs">
                                        <div class="footer-ctr">
                                            <div class="footer-nav">
                                                <p class="mb-20 c-white t16 fw-6">
                                                    Sản phẩm
                                                </p>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở quay</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa xếp trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt dựng</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Lan can</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">WE70</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer-sp">
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Công nghệ
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Dây chuyền sản xuất</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Công nghệ xử lý bề mặt Anodize
                                                                ED -
                                                                Texguard </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Hỗ trợ khách hàng
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách bảo hành</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách đổi trả</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Bảo mật & riêng tư</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="footer-sign">
            <span class="t14 fw-6">
                Thiết kế bởi
            </span>
            <span class="icon">
                <img src="./assets/images/mona-sign.svg" alt="">
            </span>
        </a>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>