<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>List Sản Phẩm</title>
</head>

<body class="product-page">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-gr">
                    <a href="" class="btn">
                        <span class="text">
                            Tải tài liệu
                        </span>
                        <span class="icon">
                            <i class="fa-light fa-down-to-bracket"></i>
                        </span>
                    </a>
                    <div class="header-user">
                        <a href="" class="header-user-link">
                            <span class="icon">
                                <i class="fa-light fa-user"></i>
                            </span>
                            <span class="t-link">
                                Đăng nhập/Đăng ký
                            </span>
                        </a>
                    </div>
                    <div class="header-lang">
                        <div class="header-lang-gr">
                            <span class="icon-flag">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </span>
                            <span class="text">
                                VN
                            </span>
                            <span class="icon">
                                <img src="./assets/images/arrow_down.svg" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-burger">
                        <div class="hamburger" id="hamburger">
                            <label for="menu_checkbox" class="hamburger-label">
                                <div class="hamburger-text"></div>
                            </label>
                        </div>
                    </div>
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo-second.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <div class="menu-nav">
                            <!-- Cấu trúc html menu -->
                            <ul class="menu-list">
                                <li class="menu-item current-menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        Sản phẩm
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Công nghệ
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Dự án
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tin tức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Phân phối
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-lang">
                        <span class="text">Ngôn ngữ</span>
                        <div class="mobile-lang-list">
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-nav">
                        <div class="menu-nav menu-have-icon">
                            <ul id="menu-menu-header-main-mobile" class="menu-list">
                                <li class="menu-item parent fz16 fw6 current-menu-item">
                                    <a class="menu-link" href="">Trang chủ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6 dropdown">
                                    <a class="menu-link" href="">Giới thiệu</a>
                                    <ul class="menu-list">
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 1 </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 2
                                            </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Sản phẩm</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Công nghệ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Dự án</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Tin tức</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Phân phối</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-if">
                        <div class="mobile-if-list">
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (1).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Địa chỉ: </span>Số 1350/1 Quốc Lộ 1A, phường Thới An, quận
                                        12, Tp. Hồ Chí Minh
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (3).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Số điện thoại: </span>0946 806 159
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (2).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Email:</span>info@maxproalu.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (1).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (2).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (3).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (4).svg" alt="">
                </a>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="banner-gen">
            <div class="banner-gen-slider swiper-gen">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/htab-img-main.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/bg-rgis.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/bnh-img.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/htab-main-imgs2.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/htab-img-main.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/blogrl-img.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="img">
                                <img src="./assets/images/bg-rgis.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-controls-pagin">
                    <div class="swiper-pagination"></div>

                    <div class="pagin">
                        <div class="pagin-current">01</div>
                        <div class="pagin-total">07</div>
                    </div>
                </div>

                <div class="swiper-controls">
                    <div class="swiper-navi prev swiper-prev">
                        <img src="./assets/images/swiper-navi-icon.png" alt="">
                    </div>
                    <div class="swiper-navi next swiper-next">
                        <img src="./assets/images/swiper-navi-icon.png" alt="">
                    </div>
                </div>
            </div>

            <div class="banner-gen-content" data-aos="fade" data-aos-delay="0.5s">
                <div class="breadcrumb-ban" data-aos="fade-left" data-aos-delay="1.2s">
                    <ul class="breadcrumb-ban-list">
                        <li class="breadcrumb-ban-item"><a href="#" class="breadcrumb-ban-link">Trang chủ</a></li>
                        <li class="breadcrumb-ban-item"><a href="#" class="breadcrumb-ban-link">Sản phẩm</a></li>
                        <li class="breadcrumb-ban-item"><a href="#" class="breadcrumb-ban-link">Cửa mở quay</a></li>
                    </ul>
                </div>
                <div class="name" data-aos="fade-left" data-aos-delay="1.4s">
                    <h1>
                        Cửa mở quay
                    </h1>
                </div>
            </div>
        </div>

        <section class="sec-hprd">
            <div class="container">
                <div class="hprd" data-aos="fade-up">
                    <div class="hprd-wrap">
                        <div class="hprd-row">
                            <div class="hprd-image">
                                <div class="hprd-image-inner">
                                    <div class="inner">
                                        <img src="./assets/images/hprd-img.png" alt="">
                                    </div>
                                    <div class="hprd-select x1">
                                        <span class="t-dots">
                                            1
                                        </span>
                                        <div class="hprd-select-ctn pright">
                                            <p class="text">
                                                Công nghệ Anodize ED
                                            </p>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="hprd-select x2">
                                        <span class="t-dots">
                                            2
                                        </span>
                                        <div class="hprd-select-ctn pright">
                                            <p class="text">
                                                Công nghệ Texguard
                                            </p>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="hprd-select x3">
                                        <span class="t-dots">
                                            3
                                        </span>
                                        <div class="hprd-select-ctn pleft">
                                            <p class="text">
                                                Lớp film bảo vệ
                                            </p>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                    <div class="hprd-select x4">
                                        <span class="t-dots">
                                            4
                                        </span>
                                        <div class="hprd-select-ctn pleft">
                                            <p class="text">
                                                Tổng lớp phủ lên đến 21micron
                                            </p>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hprd-right">
                                <div class="hprd-content">
                                    <h2 class="t-title">
                                        Cửa mở quay
                                    </h2>
                                    <div class="hprd-content-inner">
                                        <div class="t-sub">
                                            <p>
                                                Áp dụng công nghệ Anodise ED tiên tiến nhất Nhật Bản với lớp film bảo vệ cho tổng lớp phủ lên đến 21micron, Maxpro.JP cho khả năng chống bám bẩn tốt hơn 42%, bền màu hơn 28% và có thể sử dụng sát biển theo tiêu chuẩn JIS H8602 – Class A1.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pd pm-product">
            <div class="container">
                <div class="pm-product-list">
                    <div class="pm-product-item" data-aos="fade-up">
                        <div class="pm-product-wrap">
                            <div class="pm-product-header">
                                <div class="cate">Hệ R65</div>
                                <div class="name">Cửa mở quay</div>
                            </div>
                            <div class="pm-product-content">
                                <div class="rows row">
                                    <div class="col col-8">
                                        <div class="attr">
                                            <div class="img">
                                                <img src="./assets/images/hprd-img.png" alt="">
                                            </div>
                                            <div class="attr-content">
                                                <ul class="attr-list">
                                                    <li class="attr-item">
                                                        <span class="label">Độ dày profile: </span>
                                                        <span class="dt">2.5 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Chiều sâu khung: </span>
                                                        <span class="dt">65 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước kính: </span>
                                                        <span class="dt">8 - 33 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa ngang: </span>
                                                        <span class="dt">1100 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa cao:</span>
                                                        <span class="dt">3500 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Ghép góc:</span>
                                                        <span class="dt">45o</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="desc">
                                            Áp dụng công nghệ Anodise ED tiên tiến nhất Nhật Bản với lớp film bảo vệ cho tổng lớp phủ lên đến 21micron, Maxpro.JP cho khả năng chống bám bẩn tốt hơn 42%, bền màu hơn 28% và có thể sử dụng sát biển theo tiêu chuẩn JIS.
                                        </div>
                                        <div class="door-list">
                                            <div class="name">
                                                Biên dạng cửa
                                            </div>
                                            <div class="list">
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hprd-btn">
                                                <a href="" class="btn-second">
                                                    <span class="text">
                                                        Xem chi tiết
                                                    </span>
                                                    <span class="icon">
                                                        <img src="./assets/images/icon-arrow.svg" alt="">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pm-product-item" data-aos="fade-up">
                        <div class="pm-product-wrap">
                            <div class="pm-product-header">
                                <div class="cate">Hệ R65</div>
                                <div class="name">Cửa mở quay</div>
                            </div>
                            <div class="pm-product-content">
                                <div class="rows row">
                                    <div class="col col-8">
                                        <div class="attr">
                                            <div class="img">
                                                <img src="./assets/images/hprd-img.png" alt="">
                                            </div>
                                            <div class="attr-content">
                                                <ul class="attr-list">
                                                    <li class="attr-item">
                                                        <span class="label">Độ dày profile: </span>
                                                        <span class="dt">2.5 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Chiều sâu khung: </span>
                                                        <span class="dt">65 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước kính: </span>
                                                        <span class="dt">8 - 33 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa ngang: </span>
                                                        <span class="dt">1100 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa cao:</span>
                                                        <span class="dt">3500 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Ghép góc:</span>
                                                        <span class="dt">45o</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="desc">
                                            Áp dụng công nghệ Anodise ED tiên tiến nhất Nhật Bản với lớp film bảo vệ cho tổng lớp phủ lên đến 21micron, Maxpro.JP cho khả năng chống bám bẩn tốt hơn 42%, bền màu hơn 28% và có thể sử dụng sát biển theo tiêu chuẩn JIS.
                                        </div>
                                        <div class="door-list">
                                            <div class="name">
                                                Biên dạng cửa
                                            </div>
                                            <div class="list">
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hprd-btn">
                                                <a href="" class="btn-second">
                                                    <span class="text">
                                                        Xem chi tiết
                                                    </span>
                                                    <span class="icon">
                                                        <img src="./assets/images/icon-arrow.svg" alt="">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pm-product-item" data-aos="fade-up">
                        <div class="pm-product-wrap">
                            <div class="pm-product-header">
                                <div class="cate">Hệ R65</div>
                                <div class="name">Cửa mở quay</div>
                            </div>
                            <div class="pm-product-content">
                                <div class="rows row">
                                    <div class="col col-8">
                                        <div class="attr">
                                            <div class="img">
                                                <img src="./assets/images/hprd-img.png" alt="">
                                            </div>
                                            <div class="attr-content">
                                                <ul class="attr-list">
                                                    <li class="attr-item">
                                                        <span class="label">Độ dày profile: </span>
                                                        <span class="dt">2.5 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Chiều sâu khung: </span>
                                                        <span class="dt">65 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước kính: </span>
                                                        <span class="dt">8 - 33 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa ngang: </span>
                                                        <span class="dt">1100 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa cao:</span>
                                                        <span class="dt">3500 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Ghép góc:</span>
                                                        <span class="dt">45o</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="desc">
                                            Áp dụng công nghệ Anodise ED tiên tiến nhất Nhật Bản với lớp film bảo vệ cho tổng lớp phủ lên đến 21micron, Maxpro.JP cho khả năng chống bám bẩn tốt hơn 42%, bền màu hơn 28% và có thể sử dụng sát biển theo tiêu chuẩn JIS.
                                        </div>
                                        <div class="door-list">
                                            <div class="name">
                                                Biên dạng cửa
                                            </div>
                                            <div class="list">
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hprd-btn">
                                                <a href="" class="btn-second">
                                                    <span class="text">
                                                        Xem chi tiết
                                                    </span>
                                                    <span class="icon">
                                                        <img src="./assets/images/icon-arrow.svg" alt="">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pm-product-item" data-aos="fade-up">
                        <div class="pm-product-wrap">
                            <div class="pm-product-header">
                                <div class="cate">Hệ R65</div>
                                <div class="name">Cửa mở quay</div>
                            </div>
                            <div class="pm-product-content">
                                <div class="rows row">
                                    <div class="col col-8">
                                        <div class="attr">
                                            <div class="img">
                                                <img src="./assets/images/hprd-img.png" alt="">
                                            </div>
                                            <div class="attr-content">
                                                <ul class="attr-list">
                                                    <li class="attr-item">
                                                        <span class="label">Độ dày profile: </span>
                                                        <span class="dt">2.5 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Chiều sâu khung: </span>
                                                        <span class="dt">65 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước kính: </span>
                                                        <span class="dt">8 - 33 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa ngang: </span>
                                                        <span class="dt">1100 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Kích thước cánh tối đa cao:</span>
                                                        <span class="dt">3500 mm</span>
                                                    </li>
                                                    <li class="attr-item">
                                                        <span class="label">Ghép góc:</span>
                                                        <span class="dt">45o</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="desc">
                                            Áp dụng công nghệ Anodise ED tiên tiến nhất Nhật Bản với lớp film bảo vệ cho tổng lớp phủ lên đến 21micron, Maxpro.JP cho khả năng chống bám bẩn tốt hơn 42%, bền màu hơn 28% và có thể sử dụng sát biển theo tiêu chuẩn JIS.
                                        </div>
                                        <div class="door-list">
                                            <div class="name">
                                                Biên dạng cửa
                                            </div>
                                            <div class="list">
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="img">
                                                        <img src="./assets/images/hprd-img.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hprd-btn">
                                                <a href="" class="btn-second">
                                                    <span class="text">
                                                        Xem chi tiết
                                                    </span>
                                                    <span class="icon">
                                                        <img src="./assets/images/icon-arrow.svg" alt="">
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-rgis">
            <div class="rgis-bg">
                <div class="inner">
                    <img src="./assets/images/bg-rgis.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="rgis">
                    <div class="rgis-wrap">
                        <div class="rgis-row row">
                            <div class="col col-5">
                                <div class="rgis-content">
                                    <div class="rgis-logo mb-20">
                                        <a href="" class="custom-logo-link">
                                            <img src="./assets/images/logo-white.png" alt="">
                                        </a>
                                    </div>
                                    <div class="t-des c-white">
                                        <p>
                                            MAXPRO.JP là thương hiệu thanh nhôm định hình cao cấp, sử dụng công nghệ
                                            Anodize ED tiên tiến nhất để sản xuất nhôm dạng profile chất lượng cao.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-6">
                                <div class="rgis-form">
                                    <div class="rgis-form-py">
                                        <h2 class="t-title t-center mb-30">
                                            Đăng ký tư vấn
                                        </h2>
                                        <form action="">
                                            <div class="ip-control mb-30">
                                                <input placeholder="Nhập họ tên *" type="text">
                                            </div>
                                            <div class="ip-control mb-30">
                                                <input placeholder="Nhập email" type="text">
                                            </div>
                                            <div class="ip-control mb-30">
                                                <input placeholder="Nhập số điện thoại *" type="text">
                                            </div>
                                            <a href="" class="btn btn-center">
                                                <span class="icon">
                                                    <i class="fa-light fa-paper-plane"></i>
                                                </span>
                                                <span class="text">
                                                    Đăng ký
                                                </span>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-py">
            <div class="container">
                <div class="footer-wrap">
                    <div class="footer-row row">
                        <div class="col col-3">
                            <div class="footer-info">
                                <div class="footer-logo">
                                    <a href="" class="custom-logo-link">
                                        <img src="./assets/images/logo-ft.png" alt="">
                                    </a>
                                    <p class="fw-6 c-white">
                                        Công ty TNHH XNK Trung Chính
                                    </p>
                                </div>
                                <div class="footer-info-list">
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (1).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (2).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (3).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (4).png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8">
                            <div class="footer-block">
                                <div class="footer-ctn">
                                    <div class="footer-sc">
                                        <div class="footer-sc-list">
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (3).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Hotline
                                                    </p>
                                                    <a href="" class="t-link">
                                                        0946 806 159
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (2).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Email
                                                    </p>
                                                    <a href="" class="t-link">
                                                        info@maxproalu.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (1).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Địa chỉ
                                                    </p>
                                                    <a href="" class="t-link">
                                                        Số 1350/1 Quốc Lộ 1A, phường Thới An, quận 12, Tp. Hồ Chí Minh
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-ctrs">
                                        <div class="footer-ctr">
                                            <div class="footer-nav">
                                                <p class="mb-20 c-white t16 fw-6">
                                                    Sản phẩm
                                                </p>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở quay</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa xếp trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt dựng</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Lan can</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">WE70</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer-sp">
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Công nghệ
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Dây chuyền sản xuất</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Công nghệ xử lý bề mặt Anodize
                                                                ED -
                                                                Texguard </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Hỗ trợ khách hàng
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách bảo hành</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách đổi trả</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Bảo mật & riêng tư</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="footer-sign">
            <span class="t14 fw-6">
                Thiết kế bởi
            </span>
            <span class="icon">
                <img src="./assets/images/mona-sign.svg" alt="">
            </span>
        </a>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>