<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Đăng kí</title>
</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-top-gr">
                    <a href="" class="btn">
                        <span class="text">
                            Tải tài liệu
                        </span>
                        <span class="icon">
                            <i class="fa-light fa-down-to-bracket"></i>
                        </span>
                    </a>
                    <div class="header-user">
                        <a href="" class="header-user-link">
                            <span class="icon">
                                <i class="fa-light fa-user"></i>
                            </span>
                            <span class="t-link">
                                Đăng nhập/Đăng ký
                            </span>
                        </a>
                    </div>
                    <div class="header-lang">
                        <div class="header-lang-gr">
                            <span class="icon-flag">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </span>
                            <span class="text">
                                VN
                            </span>
                            <span class="icon">
                                <img src="./assets/images/arrow_down.svg" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-burger">
                        <div class="hamburger" id="hamburger">
                            <label for="menu_checkbox" class="hamburger-label">
                                <div class="hamburger-text"></div>
                            </label>
                        </div>
                    </div>
                    <div class="header-logo">
                        <a href="" class="custom-logo-link">
                            <img src="./assets/images/logo-second.png" alt="">
                        </a>
                    </div>
                    <div class="header-nav">
                        <div class="menu-nav">
                            <!-- Cấu trúc html menu -->
                            <ul class="menu-list">
                                <li class="menu-item current-menu-item">
                                    <a href="" class="menu-link">
                                        Giới thiệu
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        Sản phẩm
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a href="" class="menu-link">
                                                Demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Công nghệ
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Dự án
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Tin tức
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Phân phối
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-lang">
                        <span class="text">Ngôn ngữ</span>
                        <div class="mobile-lang-list">
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                            <a href="" class="mobile-lang-item">
                                <img src="./assets/images/Vietnam.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-nav">
                        <div class="menu-nav menu-have-icon">
                            <ul id="menu-menu-header-main-mobile" class="menu-list">
                                <li class="menu-item parent fz16 fw6 current-menu-item">
                                    <a class="menu-link" href="">Trang chủ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6 dropdown">
                                    <a class="menu-link" href="">Giới thiệu</a>
                                    <ul class="menu-list">
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 1 </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 2
                                            </a>
                                        </li>
                                        <li class="menu-item parent fz16 fw6 menu-item">
                                            <a class="menu-link" href="">Submenu 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Sản phẩm</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Công nghệ</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Dự án</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Tin tức</a>
                                </li>
                                <li class="menu-item parent fz16 fw6">
                                    <a class="menu-link" href="">Phân phối</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-if">
                        <div class="mobile-if-list">
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (1).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Địa chỉ: </span>Số 1350/1 Quốc Lộ 1A, phường Thới An, quận
                                        12, Tp. Hồ Chí Minh
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (3).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Số điện thoại: </span>0946 806 159
                                    </p>
                                </div>
                            </div>
                            <div class="mobile-if-item">
                                <div class="mobile-if-gr">
                                    <span class="icon">
                                        <img src="./assets/images/icon-mb (2).svg" alt="">
                                    </span>
                                    <p class="text">
                                        <span class="fw-7">Email:</span>info@maxproalu.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (1).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (2).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (3).svg" alt="">
                </a>
                <a target="_blank" href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mb-social (4).svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="sec-pfcus pd-sec">
            <div class="container">
                <div class="pfcus">
                    <div class="pfcus-wrap">
                        <div class="pfcus-inner">
                            <div class="pfcus-flex">
                                <div class="pfcus-left">
                                    <div class="pfcus-tab">
                                        <div class="pfcus-head">
                                            <div class="pfcus-head-gr">
                                                <div class="icon-avt">
                                                    <img src="./assets/images/pfcus-avt.png" alt="">
                                                </div>
                                                <div class="pfcus-head-tgr">
                                                    <p class="tname">
                                                        Nguyễn Gạo
                                                    </p>
                                                    <a href="" class="tlink">Đăng xuất</a>
                                                </div>
                                            </div>
                                            <div class="pfcus-tab-list">
                                                <div class="pfcus-tab-item">
                                                    <a href="" class="pfcus-tab-link active">
                                                        <span class="icon">
                                                            <img src="./assets/images/pfcus-user.svg" alt="">
                                                        </span>
                                                        <span class="text">
                                                            Thông tin tài khoản
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="pfcus-tab-item">
                                                    <a href="" class="pfcus-tab-link">
                                                        <span class="icon">
                                                            <img src="./assets/images/pfcus-clock.svg" alt="">
                                                        </span>
                                                        <span class="text">
                                                            Thay đổi mật khẩu
                                                        </span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pfcus-right">
                                    <div class="pfcus-info">
                                        <form action="">
                                            <div class="pfcus-info-top">
                                                <p class="t20 fw-6 t-center c-pri">
                                                    Thông tin tài khoản
                                                </p>
                                                <div class="pfcus-info-top-gr">
                                                    <div class="pfcus-info-top-image">
                                                        <div class="icon-avt preview-img">
                                                            <img src="./assets/images/pfcus-avt.png" alt="">

                                                            <div class="preview-img-box">
                                                                <div class="box" id="upload-btn">
                                                                    <span class="icon">
                                                                        <img src="./assets/images/icon-camera.svg"
                                                                            alt="">
                                                                    </span>
                                                                    <span class="text">Chọn ảnh</span>
                                                                </div>

                                                                <input type="file" id="file-input"
                                                                    style="display: none;">
                                                            </div>
                                                        </div>
                                                        <label for="up-file-avt" class="t-gr">
                                                            <p class="t14">Dung lượng file tối đa: 1MB</p>
                                                            <p class="t14">Định dạng: JPEG, PNG</p>
                                                        </label>
                                                    </div>
                                                    <div id="file-selected-message"
                                                        style="display: none; color: #f66315;">Tệp đã được chọn: </div>

                                                    <div class="pfcus-info-top-form">
                                                        <form action="">
                                                            <div class="pfcus-info-top-form-gr">
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Họ và tên <span class="c-third">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Nguyễn Gạo" type="text">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Ngày sinh
                                                                    </label>
                                                                    <input type="date">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Email<span class="c-third">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Email của bạn" type="email">
                                                                </div>
                                                                <div class="ip-control x2">
                                                                    <label for="" class="t-label">
                                                                        Số điện thoại<span class="c-third">
                                                                            *
                                                                        </span>
                                                                    </label>
                                                                    <input placeholder="Số điện thoại của bạn"
                                                                        type="text">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn" type="submit">
                                                <span class="btn-inner">
                                                    <span class="text">
                                                        Đăng kí
                                                    </span>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="footer">
        <div class="footer-py">
            <div class="container">
                <div class="footer-wrap">
                    <div class="footer-row row">
                        <div class="col col-3">
                            <div class="footer-info">
                                <div class="footer-logo">
                                    <a href="" class="custom-logo-link">
                                        <img src="./assets/images/logo-ft.png" alt="">
                                    </a>
                                    <p class="fw-6 c-white">
                                        Công ty TNHH XNK Trung Chính
                                    </p>
                                </div>
                                <div class="footer-info-list">
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (1).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (2).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (3).png" alt="">
                                    </a>
                                    <a href="" class="link">
                                        <img src="./assets/images/ft-icon (4).png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-8">
                            <div class="footer-block">
                                <div class="footer-ctn">
                                    <div class="footer-sc">
                                        <div class="footer-sc-list">
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (3).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Hotline
                                                    </p>
                                                    <a href="" class="t-link">
                                                        0946 806 159
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (2).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Email
                                                    </p>
                                                    <a href="" class="t-link">
                                                        info@maxproalu.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer-sc-item">
                                                <span class="icon">
                                                    <img src="./assets/images/icon-mb (1).svg" alt="">
                                                </span>
                                                <div class="igr t14">
                                                    <p class="c-white fw-6">
                                                        Địa chỉ
                                                    </p>
                                                    <a href="" class="t-link">
                                                        Số 1350/1 Quốc Lộ 1A, phường Thới An, quận 12, Tp. Hồ Chí Minh
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-ctrs">
                                        <div class="footer-ctr">
                                            <div class="footer-nav">
                                                <p class="mb-20 c-white t16 fw-6">
                                                    Sản phẩm
                                                </p>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở quay</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa mở trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Cửa xếp trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt trượt</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Mặt dựng</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">Lan can</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link">WE70</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer-sp">
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Công nghệ
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Dây chuyền sản xuất</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Công nghệ xử lý bề mặt Anodize
                                                                ED -
                                                                Texguard </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="footer-sp-box mb-40s">
                                                    <p class="mb-20 c-white t16 fw-6">
                                                        Hỗ trợ khách hàng
                                                    </p>
                                                    <ul class="menu-list">
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách bảo hành</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Chính sách đổi trả</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="" class="menu-link">Bảo mật & riêng tư</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="footer-sign">
            <span class="t14 fw-6">
                Thiết kế bởi
            </span>
            <span class="icon">
                <img src="./assets/images/mona-sign.svg" alt="">
            </span>
        </a>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>